* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body .container {
  width: 80%;
  margin: 0 auto;
  overflow-x: hidden;
}

header {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 2;
}
header nav {
  cursor: pointer;
}
header nav .home__page,
header nav .admin__page {
  transition: 0.5s;
}
header nav .home__page:hover,
header nav .admin__page:hover {
  transform: scale(1.2);
  font-weight: 600;
}
header .header__right #btn__cart {
  transition: 0.5s;
  position: relative;
  top: -8px;
  padding-right: 20px;
}
header .header__right #btn__cart:hover {
  transform: scale(1.2);
}
header .header__right #btn__cart .noti {
  position: absolute;
  background-color: #ef5858;
  padding: 3px 6px;
  line-height: 12px;
  top: 10px;
  right: 8px;
  border-radius: 10px;
}
header .header__right #offcanvasRight::-webkit-scrollbar {
  width: 10px;
}
header .header__right #offcanvasRight::-webkit-scrollbar-track {
  background: #ccc;
}
header .header__right #offcanvasRight::-webkit-scrollbar-thumb {
  background: #555;
}
header .header__right .cart__bottom p {
  color: #000;
  font-weight: 600;
}
header .header__right .cart__bottom button {
  margin: 2px 0 0 8px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  background-color: #5f9db8;
  color: white;
  transition: 0.3s;
}
header .header__right .cart__bottom button:hover {
  opacity: 0.6;
}

.banner {
  background-color: #f4f4f4;
}
.banner img {
  height: 500px;
}
.banner .banner__left h1,
.banner .banner__right h1 {
  font-size: 30px;
  font-weight: 700;
}
.banner .banner__left span,
.banner .banner__right span {
  font-size: 14px;
  cursor: pointer;
  position: relative;
}
.banner .banner__left span::after,
.banner .banner__right span::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -3px;
  display: block;
  width: 0px;
  height: 2px;
  background-color: #000;
  transition: 0.5s;
}
.banner .banner__left span:hover::after,
.banner .banner__right span:hover::after {
  width: 100%;
}
.banner .banner__left button,
.banner .banner__right button {
  padding: 10px 24px 11px 24px;
  border-radius: 20px;
  color: #fff;
  background-color: #000;
  font-size: 12px;
  transition: 0.3s;
  margin-left: 10px;
}
.banner .banner__left button:hover,
.banner .banner__right button:hover {
  color: #eee;
  background-color: #555;
}

.product {
  background-color: #fff;
}
.product .select__list {
  background-color: #ffffff;
  border: 1px solid #ccc;
}
.product .product__list {
  margin-top: 60px;
}
.product .product__list .product__item {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.5s;
}
.product .product__list .product__item .brand {
  padding: 5px;
  display: inline-block;
  margin: 10px 0;
  color: white;
  background-color: #555;
  border-radius: 3px;
  font-size: 12px;
}
.product .product__list .product__item:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.product .product__list .product__item:hover .product__desc {
  opacity: 1;
}
.product .product__list .product__item .product__desc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  opacity: 0;
}
.product .product__list .product__item .product__desc h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
.product .product__list .product__item .product__desc a {
  display: block;
  text-decoration: underline;
  text-align: center;
}
.product .product__list .product__item .product__desc button {
  padding: 10px 24px 11px 24px;
  border-radius: 20px;
  color: #fff;
  background-color: #f0b70e;
  transition: 0.5s;
}
.product .product__list .product__item .product__desc button:hover {
  color: #000;
}
.product .product__list .product__item .product__desc .extra__desc span {
  font-weight: 500;
}

footer {
  background-color: #0e1b1f;
}
footer .footer__content {
  color: #fff;
  border-bottom: 1px solid #fff;
}
footer .footer__content span {
  display: block;
  margin-bottom: 30px;
  font-weight: 800;
}
footer .footer__content li {
  padding-top: 5px;
  margin-bottom: 15px;
}
footer .footer__content .footer__info3 i {
  margin-right: 10px;
}
footer .footer__content .footer__info3 li {
  list-style-type: none;
}
footer .footer__end {
  padding: 30px 0;
}

.table__product .table__title {
  background-color: #138496;
  color: white;
  padding: 30px 15px;
  border-radius: 20px 20px 0 0;
}
.table__product .table__title h1 {
  font-size: 30px;
}
.table__product .table__title button {
  padding: 12px 15px;
  border-radius: 8px;
  background-color: #ccc;
  color: #000;
  transition: 0.5s;
}
.table__product .table__title button:hover {
  opacity: 0.8;
}
.table__product .table__title #modal {
  background-color: #f8efec;
}
.table__product .table__title input,
.table__product .table__title select {
  height: 30px;
  width: 100%;
  margin: 10px 0;
}

@media screen and (max-width: 991.98px) {
  .banner {
    padding-bottom: 20px;
  }
  .product .product__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  footer .footer__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  header .header__right #btn__cart {
    padding-right: 20px;
  }
  header .header__right #btn__cart .noti {
    right: 5px;
    top: 10px;
  }
  .banner {
    padding-top: 40px;
  }
  .banner .banner__left h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 640px) {
  header {
    font-size: 15px;
  }
  header .header__logo {
    font-size: 16px;
  }
  header .header__logo i {
    margin-right: 10px;
  }
  header .home__page {
    margin: 0px 18px;
  }
}
@media screen and (max-width: 576px) {
  body .container {
    width: 90%;
  }
  body .product .product__list .product__item .product__desc h2 {
    font-size: 25px;
  }
}/*# sourceMappingURL=main.css.map */